.vouchers {
    display: flex;
    flex-direction: column;
}

.usedMark {
    color: green;
    font-style: bold;
    display: inline;
}

.voucherLink{
    list-style-image: url('../../assets/images/voucher-small.png');
}

.voucherLinkUsed {
    list-style:none;
}