.presents {
    display: flex;
    flex-direction: column;
}
.presentLink {
    list-style-image: url('../../assets/images/present.png');
}

.presentLinkOrdered{
    list-style: none;
}

.usedMark {
    color: green;
    font-style: bold;
    display: inline;
}