.keys {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 10px double gold;
    
}

.title {
    background-color: black;
    color: gold;
    text-align: center;
    border: 10px double gold;
}

.usedMark {
    color: green;
    font-style: bold;
    display: inline;
}

.keyLink{
    color: black;
}

.keyLinkUsed {
    list-style:none;
    color: black;
}