.clue {
    display: flex;
    flex-direction: column;
    margin: auto 4px;
}
.clue h4{
    margin: 2rem 5%;
}
.clue span{
    margin: 2rem;
}

.answerBox {
 width:80%;
 font-weight: bold;
 border: 3px solid gold;
 box-shadow: 1px 1px 1px gold;   
 line-height: 2rem;
}

.answerButton {
    width: 25%;
    background-color: #33bb11;
    border-radius: 5px;
    font-size: 19pt;
    color: white;
    box-shadow: 1px 1px 4px black;
    line-height: 2rem;
    margin: 2rem 20%;
}

.back {
    margin-top: 10rem;
}