.smallText{
    font-size:7pt;
    font-style: italic;
    font-weight: bold;
}

.bannerLogo {
    max-width: 100%;
}

.homeText {
    background-color: black;
    color: gold;
    text-align: center;
    border: 10px double gold;
    padding: 5px;
}