.riddle {
    display: flex;
    flex-direction: column;
    margin: auto 4px;
}
.riddle h4{
    margin: 2rem 5%;
}
.riddle span{
    margin: 2rem;
}

.answerBox {
 margin: 0 10%;
 font-weight: bold;
 border: 3px solid gold;
 box-shadow: 1px 1px 1px gold;   
 line-height: 2rem;
}

.answerBoxAnswered {
    background-color: gold;
    border-radius: 5px;
    font-size: 19pt;
    color: white;
    box-shadow: 1px 1px 4px black;
    line-height: 2rem;
    margin: 0.1rem 3%;
}

.answerButton {
    background-color: #33bb11;
    border-radius: 5px;
    font-size: 19pt;
    color: white;
    box-shadow: 1px 1px 4px black;
    line-height: 2rem;
    margin: 2rem 25%;
}

.back {
    margin-top: 10rem;
}